a{
  color:#282C34;
  text-decoration:none;
}
header img{
  float:left;
  margin-right: 66px;
  margin-left: 102px;
}
nav{
  display: block;
  float:right;
  margin-right: 46px;
}
ul{
  margin: 0px;
  padding: 0px;
}
li{
  font-size: 18px;
  list-style: none;
  float:left;
  padding: 0;
  margin-top: 130px;
  margin-right: 40px;

}
header div{
  border-bottom: 2px solid #282C34;
}
footer{
  border-top: 2px solid #282C34;
  text-align:center;
  height: 124px;
}
footer p{
  margin-top: 51.5px;
}

article img{
  display: block;
  margin-top: 100px;
}
.space{
  margin-top: 100px;
}
.left{
  float: left;
  padding-left: 214px;
  /*margin-right: 110px;*/
}
.right{
  float: right;
  padding-right: 214px;
}
